/* Main Dashboard Container */ /*( fix by Joe)*/
.dashboard-container {
  width: 100%; 
  height: 100%;
  margin: 0 auto;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
  background-color: #F1EEE1;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 10px;
  overflow: hidden;
  box-sizing: border-box;
  overflow-x: auto;
  overflow-y: auto;
}

/* Header styling */  /*( fix by Joe)*/
.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: span 2;
  padding: 2px;
  background-color: #129E70;
  height: 100px;
  box-sizing: border-box;
  overflow: hidden;
}

.logo-image {
  height: auto;
  width: auto;
}

.logo1 {        /*( fix by Joe)*/
  font-size: 0rem;
  font-weight: bold;
  color: #007f4e;
}

/* Profile icon */     /*( fix by Joe)*/
.profile-icon {
  font-size: 35px;
  cursor: pointer;
  position: relative;
}

/* User profile pop-out */    /*( fix by Joe)*/
.profile-menu {
  position: absolute;
  top: 50px;
  right: 0;
  background: #f4f3ee;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px;
  z-index: 100px;
  border: 2px solid #000000;
  width: 400px;
}

/* Sensor Data Section */     /*( fix by Joe)*/
.sensor-data {
  grid-column: 1;

}

/* Device List Section */     /*( fix by Joe)*/
.device-dashboard {
  grid-column: 2;
}

/* Graphs Section */     /*( fix by Joe)*/
.graph-section {
  grid-column: 1;

}

/* Users Section */     /*( fix by Joe)*/
.user-dashboard {
  grid-column: 2;
}

/* Mobile-specific styles */
@media (max-width: 600px) and (orientation: portrait) {
  .dashboard-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 5px;
    height: auto;
    overflow-x: auto;
  }

  .dashboard-header {
    height: 80px;
  }


  .device-dashboard,
  .user-dashboard {
    grid-column: 1;
  }

  .profile-menu {
    width: 90%;
    right: 5%;
  }

  .sensor-data,
  .graph-section{
  grid-column: 1;
  margin-left: 0px;
  }
}