.main-container {
    position: relative;
    padding: 20px;
    margin: 20px auto;
    max-width: 95%;
    min-height: 95vh;
    text-align: center;
    background: linear-gradient(125deg, #baf3e5, #65c7ba);
    color: black;
    border-radius: 8px;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.time {
    font-size: 2rem;
    margin-bottom: 20px;
}

.forecastColumn .weather-Icon {
    max-width: 200px;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 10px auto;
    transform: scale(0.8);
    align-self: center;
}

.forecastContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-size: 1.5rem;
}

.forecastColumn {
    flex: 1;
    padding: 10px;
    border-right: 1px solid rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.forecastColumn:last-child {
    border-right: none;
}

.navButton {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px;
    color: black;
}